{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-4">
        <div class="game-container-index">
            <form method="GET" class="game-container-selectors">
                {% csrf_token %}
                <select name="direction" class="button-selector"
                    hx-get="{% url 'landing_page_games' %}"
                    hx-target="#games-container"
                    hx-swap="innerHTML">
                    <option value="asc" {% if direction == "asc" %} selected {%endif%}>Ascendente</option>
                    <option value="desc" {% if direction == "desc" %} selected {%endif%}>Descendente</option>
                </select>
                <select class="button-selector" name="category" 
                    hx-get="{% url 'landing_page_games' %}"
                    hx-target="#games-container"
                    hx-swap="innerHTML">
                    <option value="metacritic" {% if category == "metacritic" %} selected {%endif%}>Metacritic</option>
                    <option value="created" {% if category == "created" %} selected {%endif%}>Creado</option>
                    <option value="name" {% if category == "name" %} selected {%endif%}>Nombre</option>
                    <option value="added" {% if category == "added" %} selected {%endif%}>Popularidad</option>
                    <option value="rating" {% if category == "rating" %} selected {%endif%}>Rating</option>
                </select>
                <select class="button-selector" name="platforms"
                    hx-get="{% url 'landing_page_games' %}"
                    hx-target="#games-container"
                    hx-swap="innerHTML">
                    <option value="" {% if category == "" %} selected {%endif%}>Todas</option>
                    {% for p in platforms %}
                        <option value="{{p.id}}" {% if platform_query == p.id|stringformat:"s" %} selected {% endif %}>{{p.name}}</option>
                    {% endfor %}
                </select>
                <select name="exclude_additions" class="button-selector"
                    hx-get="{% url 'landing_page_games' %}"
                    hx-target="#games-container"
                    hx-swap="innerHTML">
                    <option value="">Todos</option>
                    <option value="true" {% if exclude_additions == "true" %}selected{% endif %}>Solo juegos base</option>
                    <option value="false" {% if exclude_additions == "false" %}selected{% endif %}>Incluir DLCs</option>
                </select>
            </form>
            <form method="GET" class="game-container-search">
                {% csrf_token %}
                <input type="text" name="search" placeholder="Busca aquí un juego" class="input-search">
                <div class="input-group-append">
                    <button type="submit" class="button-search">
                        Search
                    </button>
                </div>
            </form>
        </div>
        <div id="games-container">
            {% include "games/partials/_game_list.html" %}
        </div>
    </div>
{% endblock %}