{% extends 'base.html' %}

{% block content %}
    <div class="login-container">
        <div class="login-form">
            <h1>Log In</h1>
            {% if form.non_field_errors %}
                <div class="text-danger">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        <label class="form-label">{{field.label}}</label>
                        {{field}}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}